# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\REPOS\Java-advanced\FileWalker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
